<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>


    {% if  participant.image   %}

        <img src="{{ asset('public/images/' ~ participant.getImage) }}">
    {% else %}

        <img src="{{ asset('public/images/base.png') }}">

    {% endif %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</header>
<body>

{{ participant.username }}

{{ form_start(ParticipantForm) }}
{{ form_widget(ParticipantForm) }}
<button type="submit">create</button>

{{ form_end(ParticipantForm) }}

</body>
</html>