{% extends 'base.html.twig' %}
{% block title %}Mon Profil {% endblock %}
{% block body %}


<div class="container mb-4">


<body>
<div class="text-center" >
{% if   participant.image  %}
    <img  src="{{ asset('images/' ~ participant.image) }}"  style="width: 225px; "  >

{% else %}
    <img src="{{ asset('images/base.png') }}" style="width: 225px;" class=" ">


{% endif %}
</div>

<div class="text-center"       style="font-weight: bold;"> Mon profil </div>
{{ form_start(ParticipantForm) }}
{{ form_widget(ParticipantForm) }}
<button type="submit">Modifier</button>

{{ form_end(ParticipantForm) }}

</div>
{% endblock %}

