{% extends 'base.html.twig' %}
{% block title %} Profil de {{participant.pseudo }} {% endblock %}
{% block body %}


    <div class="container mb-4">


        <body>
        <div class="text-center" >
            {% if   participant.image  %}
                <img  src="{{ asset('images/' ~ participant.image) }}"  style="width: 225px; "  >

            {% else %}
                <img src="{{ asset('images/base.png') }}" style="width: 225px;" class=" ">

            {% endif %}
        </div>

        <div class="text-center"       style="font-weight: bold;">profil de {{participant.pseudo }} </div>

        <ul class="text-center" style="list-style: none">
            <li>{{participant.prenom }} </li>
            <li>{{participant.nom }}</li>
            <li>{{participant.telephone }}</li>
            <li>{{participant.email }}</li>
            <li>{{participant.campus }}</li>
        </ul>


        </body>
    </div>
{% endblock %}

